{% extends 'base.html.twig' %}

{% block title %}{{ 'product.new' | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-20">{{ 'product.new' | trans }}</h1>
        <hr>
        {{ include('product/_form.html.twig') }}
        <div class="text-center">
            <a class="btn btn-secondary mt-20" href="{{ path('product_index') }}">{{ 'Back' | trans }}</a>
        </div>
    </div>
{% endblock %}
