{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<style>
    .btn-show{ margin-left: 5px; margin-right: 5px; }
    .text-price{ font-size: 30px; }
    .text-description{ text-transform: uppercase; font-size: 20px;}
</style>
    <div class="container">
        <div class="text-center mt-20">
            <img src="../uploads/{{ product.picture }}" alt="{{ product.description }}">
            <h1 class="mt-20">{{ product.name }}</h1>
            <hr>
        </div>
        <p class="text-description">{{ product.description }}</p>
        <div class="text-center">
            <p class="text-price">{{ product.price }} <span class="dollar">$</span></p>
        </div>
        <p class="text-quantity">Stock : {{ product.stock }}</p>
        <hr>
        <h2>Action(s)</h2>
        {% if is_granted('IS_AUTHENTICATED_FULLY') and cart is not null %}
            <h5>Ajouter au panier</h5>
            {{ include('content_cart/_form.html.twig') }}
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') and cart is null %}
            <h5>Vous n'avez pas de panier !</h5>
            <a class="btn btn-primary mt-20" href="{{ path('cart_new') }}">Nouveau panier</a>
        {% endif %}
        <div class="container-fluid">
            <div class="row mt-20">
                <a class="btn btn-warning btn-show" href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
                {{ include('product/_delete_form.html.twig') }}
                <a class="btn btn-secondary btn-show" href="{{ path('product_index') }}">Back to the products</a>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
